.DS_Store
Thumbs.db
Desktop.ini

.vscode/
.idea/
*.swp
*.swo

node_modules/
dist/
build/
coverage/

target/
out/
.gradle/
local.properties
*.iml
.cxx/
.externalNativeBuild/

.venv/
venv/
__pycache__/
*.pyc

*.log
*.tmp